<%- include('templates/header'); -%>

    <div class='container'>
    <div class='jumbotron'>
        <h2>BOOK SEARCH!</h2>
            <form action='/results' method='GET'>
                <input text='type' name='search' placeholder='placeholder'>
                <button class='btn btn-info'>Search</button>
            </form>
        </div>
    </div>
<%- include('templates/footer'); -%>